{default, [
    {rt_max_wait_time, 180000},
    {rt_retry_delay, 2000}
]}.

{rtdev, [
    {rt_deps, ["/home/kuenishi/src/riak/deps"]},
    {rt_retry_delay, 500},
    {rt_harness, rtdev},
    {rtdev_path, [{root, "/tmp/rt"},
                  {current, "/tmp/rt/current"},
                  {"1.2.1", "/tmp/rt/riak-1.2.1"},
                  {"1.1.4", "/tmp/rt/riak-1.1.4"},
                  {"1.0.3", "/tmp/rt/riak-1.0.3"}]},
    {basho_bench, "/home/kuenishi/src/basho_bench"}
]}.

{rteedev, [
    {backend, {multi_backend, leveldb}},
    {rt_deps, ["/home/kuenishi/rtsrc/riak_ee/deps"]},
    {rt_retry_delay, 500},
    {rt_harness, rtdev},
    {rtdev_path, [{root, "/home/kuenishi/rt/riak_ee"},
                  {current, "/home/kuenishi/rt/riak_ee/current"},
                  {legacy, "/home/kuenishi/rt/riak_ee/riak_ee-1.3.4"},
                  {previous, "/home/kuenishi/rt/riak_ee/riak-ee-1.4.10"}
                  %%{"1.1.4", "/tmp/rt/riak-1.1.4"},
                 ]},
    {test_paths, ["/home/kuenishi/rtsrc/riak_test/ebin", "/home/kuenishi/rtsrc/riak_test/tmp"]},
    {basho_bench, "/home/kuenishi/src/basho_bench"}
]}.



{rt_cs_dev, [
     {rt_project, "riak_cs"},
     {rt_deps, [
                "/home/kuenishi/cs-2.0/riak_cs/deps"
               ]},
     {rt_harness, rt_cs_dev},
     {build_paths, [{root,              "/home/kuenishi/rt/riak"},
                    {current,           "/home/kuenishi/rt/riak/current"},
                    {previous,          "/home/kuenishi/rt/riak/riak-1.4.10"},
                    {ee_root,           "/home/kuenishi/rt/riak_ee"},
                    {ee_current,        "/home/kuenishi/rt/riak_ee/current"},
                    {ee_previous,       "/home/kuenishi/rt/riak_ee/riak-ee-1.4.10"},
                    {cs_root,           "/home/kuenishi/rt/riak_cs"},
                    {cs_current,        "/home/kuenishi/rt/riak_cs/current"},
                    {cs_previous,
                           "/home/kuenishi/rt/riak_cs/riak-cs-ee-1.5.4-plus"},
                    {stanchion_root,    "/home/kuenishi/rt/stanchion"},
                    {stanchion_current, "/home/kuenishi/rt/stanchion/current"},
                    {stanchion_previous,
                       "/home/kuenishi/rt/stanchion/stanchion-1.5.0"}
                   ]},
     {test_paths, ["/home/kuenishi/cs-2.0/riak_cs/riak_test/ebin"]},
     {src_paths, [{cs_src_root, "/home/kuenishi/cs-2.0/riak_cs"}]},
     {lager_level, debug},

     %%{build_type, oss},
     {build_type, ee},

     {sibling_benchmark,
      [{write_concurrency, 4}, %% seems not working more than 20
       {duration_sec, 10},
       %%{leave_and_join, 2},
       %%{version, previous}]
       {version, current}]
       %%]
     },

     {flavor, {multibag, disjoint}},
     %{flavor, basic},
     {backend, {multi_backend, bitcask}}
]}.

{rt_cs_dev_old, [
     {rt_project, "riak_cs-1.5"},
     {rt_deps, [
                "/home/kuenishi/cs-1.5/riak-ee-1.4.10/deps",
                "/home/kuenishi/cs-1.5/riak_cs/deps",
                "/home/kuenishi/cs-1.5/stanchion/deps"
               ]},
     {rt_retry_delay, 500},
     {rt_harness, rt_cs_dev},
     {build_paths, [%%{root,              "/home/kuenishi/rt/riak"},
                    %%{current,           "/home/kuenishi/rt/riak/current"},
                    {root,           "/home/kuenishi/rt/riak_ee_onefour"},
                    {current,        "/home/kuenishi/rt/riak_ee_onefour/current"},
                    {ee_root,           "/home/kuenishi/rt/riak_ee_onefour/"},
                    {ee_current,        "/home/kuenishi/rt/riak_ee_onefour/current"},
                    {cs_root,           "/home/kuenishi/rt/riak_cs"},
                    {cs_current,        "/home/kuenishi/rt/riak_cs/current"},
                    {stanchion_root,    "/home/kuenishi/rt/stanchion"},
                    {stanchion_current, "/home/kuenishi/rt/stanchion/current"}
                   ]},
     {test_paths, ["/home/kuenishi/cs-1.5/riak_cs/riak_test/ebin"]},
     {src_paths, [{cs_src_root, "/home/kuenishi/cs-1.5/riak_cs"}]},
     {lager_level, debug},
     %%{build_type, oss},
     {build_type, ee},
     {flavor, {multibag, disjoint}},
     %%{flavor, basic},
     {backend, {multi_backend, bitcask}}
]}.

